<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/machines.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img class="logo-mobile" src="../../assets/imgs/logo.png" alt="" />
      <img
        id="hamburgerOpen"
        class="hamburger-icon"
        src="../../assets/imgs/icons/hamburger.png"
        alt=""
      />
      <div class="nav-bar">
        <img class="logo" src="../../assets/imgs/logo.png" alt="" />
        <nav>
          <a href="./index.html">Kezdőlap</a>
          <a href="./granulating-machines.html">Granulálógépek</a>
          <a href="./mixer-machines.html">Keverőgépek</a>
          <a href="./extruder-machines.html">Extruderek</a>
          <a href="./other-machines.html">Egyéb gépek</a>
        </nav>
      </div>
      <div class="nav-mobile hidden" id="mobile-nav-bar">
        <a href="./index.html">Kezdőlap</a>
        <a href="./granulating-machines.html">Granulálógépek</a>
        <a href="./mixer-machines.html">Keverőgépek</a>
        <a href="./extruder-machines.html">Extruderek</a>
        <a href="./other-machines.html">Egyéb gépek</a>
      </div>
      <!--  <div class="nav-bar">
        <img src="../../assets/imgs/logo.png" alt="Logo" />
        <nav>
          <a href="../../index.html">Kezdőlap</a>
          <a href="./granulating-machines.html">Granulálógépek</a>
          <a href="./mixer-machines.html">Keverőgépek</a>
          <a href="./extruder-machines.html">Extruderek</a>
          <a href="./other-machines.html">Egyéb gépek</a>
        </nav>
      </div> -->
    </header>

    <button id="myBtn">Gépkönyvek</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <ul>
          <li><a href="">Üres</a></li>
        </ul>
      </div>
    </div>

    <section class="machines-section">
      <div>
        <img
          id="img1"
          src="../../assets/imgs/extruders/extruder.png"
          alt="Extruder 1"
        />
        <p>Extruder-1</p>
      </div>
      <div>
        <img
          id="img2"
          src="../../assets/imgs/extruders/extruder.png"
          alt="Extruder 2"
        />
        <p>Extruder-2</p>
      </div>
      <div>
        <img
          id="img3"
          src="../../assets/imgs/extruders/extruder.png"
          alt="Extruder 3"
        />
        <p>Extruder-3</p>
      </div>
    </section>

    <!-- Modal Content -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Extruder-1</p>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Extruder-2</p>
      </div>
    </div>
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Extruder-3</p>
      </div>
    </div>

    <script src="../../script/machineScript.js">
   
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
