<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/machines.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <img src="../../assets/imgs/logo.png" alt="Logo" />
        <nav>
            <a href="../../index.html">Kezdőlap</a>
            <a href="./granulating-machines.html">Granulálógépek</a>
            <a href="./mixer-machines.html">Keverőgépek</a>
            <a href="./extruder-machines.html">Extruderek</a>
            <a href="./other-machines.html">Egyéb gépek</a>
        </nav>
      </div>
    </header>

    <button id="myBtn">Gépkönyvek</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <ul>
          <li>
            <a href="">Üres</a>
          </li>
        </ul>
      </div>
    </div>

    <section class="machines-section">
      <div>
        <img id="img1" src="../../assets/imgs/mixers/mixer-1.png" alt="Keverőgép-1" />
        <p>Keverőgép-1</p>
      </div>
      <div>
        <img id="img2" src="../../assets/imgs/mixers/mixer-1.png" alt="Keverőgép-2" />
        <p>Keverőgép-2</p>
      </div>
      <div>
        <img id="img3" src="../../assets/imgs/mixers/mixer-1.png" alt="Keverőgép-3" />
        <p>Keverőgép-3</p>
      </div>
    </section>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Mixer-1</p>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Mixer-2</p>
      </div>
    </div>
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Mixer-3</p>
      </div>
    </div>

  <script>
      const images = document.querySelectorAll('.machines-section img');
      const modals = document.querySelectorAll('.modal');
      const closeButtons = document.querySelectorAll('.close');

      images.forEach((img, index) => {
        img.addEventListener('click', () => {
          modals[index].style.display = 'block';
        });
      });

      closeButtons.forEach((btn, index) => {
        btn.addEventListener('click', () => {
          modals[index].style.display = 'none';
        });
      });

      window.addEventListener('click', (event) => {
        modals.forEach((modal) => {
          if (event.target === modal) {
            modal.style.display = 'none';
          }
        });
      });
    </script>
  </body>
</html>
