<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/machines.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img class="logo-mobile" src="../../assets/imgs/logo.png" alt="" />
      <img
        id="hamburgerOpen"
        class="hamburger-icon"
        src="../../assets/imgs/icons/hamburger.png"
        alt=""
      />
      <div class="nav-bar">
        <img class="logo" src="../../assets/imgs/logo.png" alt="" />
        <nav>
          <a href="../../index.html">Kezdőlap</a>
          <a href="./granulating-machines.html">Granulálógépek</a>
          <a href="./mixer-machines.html">Keverőgépek</a>
          <a href="./extruder-machines.html">Extruderek</a>
          <a href="./other-machines.html">Egyéb gépek</a>
        </nav>
      </div>
      <div class="nav-mobile hidden" id="mobile-nav-bar">
        <a href="../../index.html">Kezdőlap</a>
        <a href="./granulating-machines.html">Granulálógépek</a>
        <a href="./mixer-machines.html">Keverőgépek</a>
        <a href="./extruder-machines.html">Extruderek</a>
        <a href="./other-machines.html">Egyéb gépek</a>
      </div>
    </header>

    <button id="myBtn">Gépkönyvek</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <ul>
          <li>
            <a href="">Üres</a>
          </li>
        </ul>
      </div>
    </div>

    <section class="machines-section">
      <div>
        <img id="img1" src="../../assets/imgs/others/granit-35-shredder.png" alt="Gránit-35 morzsázógép" />
        <p>Gránit-35 morzsázógép</p>
      </div>
      <div>
        <img id="img2" src="../../assets/imgs/others/granit-90-shredder.png" alt="Gránit-90 morzsázógép" />
        <p>Gránit-90 morzsázógép</p>
      </div>
      <div>
        <img id="img3" src="../../assets/imgs/others/granit-35-cooler.png" alt="Gránit-35 takarmányhűtő" />
        <p>Gránit-35 takarmányhűtő</p>
      </div>
      <div>
        <img id="img4" src="../../assets/imgs/others/granit-90-cooler.png" alt="Gránit-90 takarmányhűtő" />
        <p>Gránit-90 takarmányhűtő</p>
      </div>
      <div>
        <img id="img5" src="../../assets/imgs/others/vibroscreen.png" alt="Vibroszita" />
        <p>Vibroszita</p>
      </div>
      <div>
        <img id="img6" src="../../assets/imgs/others/ventilator.png" alt="Porelszívó ventillátor" />
        <p>Porelszívó ventillátor</p>
      </div>
    </section>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Gránit-35 morzsázógép</p>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Gránit-90 morzsázógép</p>
      </div>
    </div>
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Gránit-35 takarmányhűtő</p>
      </div>
    </div>
    <div id="modal4" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Gránit-90 takarmányhűtő</p>
      </div>
    </div>
    <div id="modal5" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Vibroszita</p>
      </div>
    </div>
    <div id="modal6" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Description for Porelszívó ventillátor</p>
      </div>
    </div>

    <script src="../../script/machineScript.js">
   
    </script>
  </body>
</html>
