@import 'mixins';

* {
  width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}
header {
  .logo-mobile {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }

  .nav-bar {
    @include nav-bar-style;
  }
  .nav-mobile {
    display: none; /* Alapértelmezetten rejtve van */
  }
}

.machines-section {
  @include machines-section-style;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 300px;
}

.close {
  color: #aaaaaa;
  display: flex;
  justify-content: end;
  font-size: 28px;
  font-weight: bold;
  div {
    flex-direction: column;
  }

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 1080px) {

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none; /* Alapértelmezetten rejtve van */
  }

  .overlay.active {
    display: block; /* Ha az 'active' osztály van rajta, akkor megjelenítjük */
  }

  header {
    z-index: 100;
    height: 12vh;
    background: #336699;
    .nav-bar {
      visibility: hidden;
    }
    .logo-mobile {
      display: flex;
      height: 8vh;
      width: auto;
      position: absolute;
      top: 10px;
      left: 0px;
    }

    .nav-mobile.active {
      display: flex;
      flex-direction: column;
      background: #62788e;
      height: 60vh;
      width: 250px;
      justify-content: center;
      text-align: center;
      position: fixed;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      z-index: 200;
      a {
        text-decoration: none;
        margin: 25px 0;
        color: white;
        cursor: pointer;
      }
    }
    .hamburger-icon {
      z-index: 100;
      display: block;
      width: 50px;
      height: auto;
      position: absolute;
      top: 15px;
      right: 0px;
      cursor: pointer;
    }
  }

  .machines-section {
    div {
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
  }
}
