@charset "UTF-8";
* {
  width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

header .logo-mobile {
  display: none;
}
header .hamburger-icon {
  display: none;
}
header .nav-bar {
  background: #336699;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .nav-bar .logo {
  height: 12vh;
  width: auto;
}
header .nav-bar nav {
  display: flex;
  text-align: center;
  overflow: hidden !important;
  height: 50px;
  align-items: center;
}
header .nav-bar nav a {
  margin: 0 10px;
  padding: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
header .nav-bar nav a:hover {
  background-color: antiquewhite;
  scale: 1.1;
  transition: ease-in-out 0.2s;
}
header .nav-mobile {
  display: none; /* Alapértelmezetten rejtve van */
}

.machines-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.machines-section div {
  text-align: center;
  flex-basis: 30%;
  overflow: hidden;
  margin-top: 50px;
}
.machines-section div img {
  width: 320px;
  height: auto;
}
.machines-section div img:hover {
  scale: 1.05;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.machines-section div img:not(:hover) {
  scale: 1;
  transition: ease-in-out 0.4s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 300px;
}

.close {
  color: #aaaaaa;
  display: flex;
  justify-content: end;
  font-size: 28px;
  font-weight: bold;
}
.close div {
  flex-direction: column;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none; /* Alapértelmezetten rejtve van */
  }
  .overlay.active {
    display: block; /* Ha az 'active' osztály van rajta, akkor megjelenítjük */
  }
  header {
    z-index: 100;
    height: 12vh;
    background: #336699;
  }
  header .nav-bar {
    visibility: hidden;
  }
  header .logo-mobile {
    display: flex;
    height: 8vh;
    width: auto;
    position: absolute;
    top: 10px;
    left: 0px;
  }
  header .nav-mobile.active {
    display: flex;
    flex-direction: column;
    background: #62788e;
    height: 60vh;
    width: 250px;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    z-index: 200;
  }
  header .nav-mobile.active a {
    text-decoration: none;
    margin: 25px 0;
    color: white;
    cursor: pointer;
  }
  header .hamburger-icon {
    z-index: 100;
    display: block;
    width: 50px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
  }
  .machines-section div {
    flex-basis: 50%;
  }
  .machines-section div img {
    width: 100%;
  }
}/*# sourceMappingURL=machines.css.map */