@import 'mixins';

* {
  box-sizing: border-box;
  max-width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  font-family: 'Roboto Mono', monospace;
}

header {
  .logo-mobile {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }

  .nav-bar {
    @include nav-bar-style;
  }
  .nav-mobile {
    display: none; /* Alapértelmezetten rejtve van */
  }
}

.short-introduction-section {
  position: relative;
  video {
    filter: grayscale(100);
    height: 88vh;
    width: 100%;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
}

.body-section {
  .presentation-long-text {
    width: 70%;
    margin: 160px auto;
    text-align: center;
    h1 {
      padding-bottom: 60px;
      font-size: 32px;
    }
  }

  .machines {
    text-align: center;
    text-decoration: none;

    h3 {
      font-size: x-large;
      margin-bottom: 40px;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      div {
        flex-basis: 20%;
        a {
          width: 500px;
          text-decoration: none;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          list-style-type: none;
        }
        img {
          height: 200px;
          width: auto;
          &:hover {
            scale: 1.07;
            transition: ease-in-out 0.8s;
            cursor: pointer;
          }
          &:not(:hover) {
            scale: 1;
            transition: ease-in-out 0.8s;
          }
        }
      }
    }
  }

  .colleagues {
    width: 70%;
    margin: auto;
    text-align: center;
    .title {
      margin: 60px 0;
    }
    .profile {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 90px 0;
      img {
        width: 300px;
      }
      div {
        h1 {
          margin-bottom: 30px;
        }
        h3 {
          justify-content: center;
          width: 300px;
          margin: auto;
        }
      }
    }
  }

  footer {
    @include footer-style;
  }
}
@media screen and (max-width: 1080px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none; /* Alapértelmezetten rejtve van */
  }

  .overlay.active {
    display: block; /* Ha az 'active' osztály van rajta, akkor megjelenítjük */
  }
  header {
    z-index: 100;
    height: 12vh;
    background: #336699;
    .nav-bar {
      visibility: hidden;
    }
    .logo-mobile {
      display: flex;
      height: 8vh;
      width: auto;
      position: absolute;
      top: 10px;
      left: 0px;
    }

    .nav-mobile.active {
      display: flex;
      flex-direction: column;
      background: #62788e;
      height: 40vh;
      width: 250px;
      justify-content: center;
      text-align: center;
      position: fixed;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 5px;
      z-index: 200;
      a {
        text-decoration: none;
        margin: 25px 0;
        color: white;
        cursor: pointer;
      }
    }
    .hamburger-icon {
      z-index: 100;
      display: block;
      width: 50px;
      height: auto;
      position: absolute;
      top: 15px;
      right: 0px;
      cursor: pointer;
    }
  }

  .machines {
    ul {
      flex-direction: column;
    }
  }
  .colleagues {
    .profile {
      flex-direction: column;
      img {
        min-width: 250px;
        height: auto;
      }
    }
    .left-title {
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 690px) {
  .colleagues {
    .profile {
      div {
        h3 {
          justify-content: center;
          width: 200px !important;
          margin: auto;
        }
      }
    }
  }

  .machines {
    ul {
      div {
        img {
          height: 150px !important;
          width: auto !important;
        }
      }
    }
  }
}
